@{
    ViewBag.Title = "About me";
}
<h2>@ViewBag.Title.</h2>

<hr />
<p>
    Mi nombre es Franco Battista, Analista de Sistemas y estudiante de Ing. En sistemas de Información.
    <br />
    Tengo 28 años y actualmente trabajo como desarrollador .NET en una empresa de servicios de salud.
    <br />
    Mi dirección de correo electrónico es <b>battistafranco@gmail.com</b>.
    <br />
    Muchas Gracias!
  <hr />
</p>
